$primary: rgb(44, 212, 142);

.navbar-brand {
    padding-left: 6%;
}

.navbar-menu {
    padding-right: 4%;
}

#status {
    font-style: italic;
}

#app a {
    &:hover {
        color: rgb(90, 219, 165);
    }
    color: rgb(29, 139, 93);
}

@import "../../node_modules/bulma/bulma.sass";